<h1 id="note-id">
  All notes are belong to this appointment.
</h1>
<div class="show" id="note-list">
  <ul>
    <% @notes.each do |note| %>
      <li>
        <%= note.message %>
      </li>
    <% end %>
  </div>
</ul>
