<h1>All the shops that belong to the company: <%= @company.name %></h1>
<ul>
  <% @shops.each do |shop| %>
    <li>
      <%= link_to shop.name, company_shop_path(@company, shop) %>
    </li>
  <% end %>
  </ul>
</br>
<%= link_to "Create" , new_company_shop_path%>
</br>
<%= link_to "Back to the company", companies_path %>
