<h1>All the shops that belong to the company: <%= @company.name %></h1>
<% @shops.each do |shop| %>
  <ul>
    <li>
      <%= link_to shop.name, company_shop_path(@company, shop) %>
    </li>
  </ul>
<% end %>
</br>
<%= link_to "Create" , new_company_shop_path%>
</br>
<%= link_to "Back to the company", companies_path %>
