<h1>
  Showing all users </h1>
</h1>
<div class="show">
  <ul>
    <% @user.each do |user| %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  </ul>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
</div>
