<% if object.errors.any? %>
  <div id = "error_explanation">
    <div class="alert alert-error">
      The form contains <% pluralize(object.errors.count,"error") %>
    </div>
    <ul>
      <% @object = object.errors.full_messages %>
      <% @object.sort_by!{|e| e.downcase} %>
      <% @object.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
