<h1>Hello <%= @contact.name %></h1>

<div  align="center">
   Our employees have finished reading your
   message which was then carefully examined by our
   Master Scribe for any signs of imperfections
   and who gave it his blessing. Afterwards it was
   printed out and put on a pedestal and our whole team danced around it for
   a full day and a full night asking the gods for a quick and easy solution.
</div>
