<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @shop.name %></h1>
    <p>
      An appointment has been created.
    </p>
  </body>
</html>
