<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @appointment.user.name %></h1>
    The appointment has been completed succesfully!
    <div class= "show">
      <ul>
        <li>Date: <b><%= @appointment.date %></b>, total items <b><%= @appointment.item_number %> </b></li>
        <li>Status of the appointment: <b><%= @appointment.status %></b></li>
      </ul>
    </div>
    <p>
      Thank you for using our services!
    </p>
  </body>
</html>
