<h1>All the registered companies</h1>

<% @companies.each do |company| %>
  <li>
    <%= link_to company.name, company_path(company) %>
  </li>
<% end %>
</br>
<%= link_to "Create" , new_company_path%>
