<h1>All the registered companies</h1>

<div class="show">
  <ul>
    <% @companies.each do |company| %>
      <li>
        <a> <%= link_to company.name, company_path(company) %></a>
      </li>
    <% end %>
    <div class="showbtn">
      <%= link_to "Create a new company" , new_company_path, class: "btn btn-primary" %>
    </div>
  </ul>
</div>
