<h2 class = "h2-comp">
  Your current appointments
</h2>

<div class= "show">
  <ul>
    <% @appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.date, user_appointment_path(@user,appointment) %>
    </li>
    <% end %>
  </ul>
</div>

<div class="showbtn">
  <%= link_to "Back to the user", user_path(@user) %>
</div>
