<footer class="navbar-bottom navbar-sticky-bottom navbar-expand-md bg-dark">
  <nav>
    <ul>
      <li><%= link_to "Contact Us", new_contact_message_url, id: "user" %></li>
    </ul>
  </nav>
</footer>
